<!doctype html>
<head>
	<title>Edit Lead</title>
	<link rel="stylesheet" type="text/css" href="/static/lead.css">
	<script src="/static/jquery-3.6.1.min.js"></script>
	<script src="/static/lead.js"></script>
</head>

<div id="header">{{ label }}<div id="updated"></div></div>

<form id="lead">
<div id="details">

	<div>SFDC Lead ID</div>
	<input id="lead_id" disabled value="{{ lead_id }}"></input>
	
	<!-- Produce either error screen or regular version -->
	{% if error %}

		<div>Error</div>
		<div>{{ error }}</div>
		
	{% else %}

	<div>Status</div>

	<select id="status" onchange="statusChange()">
		<option selected=selected>Unmanaged</option>
		{% for st in info.picklist.status %}
		<option>{{st}}</option>
		{% endfor %}
	</select>
	
	<div>Opp Number</div>
	<input id="opp_number" disabled></input>
	
	<div>Disqualification Reason</div>

	<select id="dq_reason" disabled>		
		<option selected></option>
		{% for dq in info.picklist.dq_reason %}
		<option>{{dq}}</option>
		{% endfor %}
	</select>
	
	<div>DSR</div>
	<select id="dsr">
		<option selected=selected></option>
		{% for dsr in info.picklist.dsr %}
		<option>{{dsr}}</option>
		{% endfor %}
	</select>
	
	<div>Presales</div>
	<select id="presales">		
		<option selected=selected></option>
		{% for presales in info.picklist.presales %}
		<option>{{presales}}</option>
		{% endfor %}
	</select>
	
	<div>Notes</div>
	<input id="notes"></input>
	
	<button style="grid-column-start: 2; background-color: #8cc4d3" type="button" onclick="save()" id="save_button">Save</button>
	
	{% endif %}

</div></form>

<script>	
	// Populate values received from flask template into form
	
	data = {{info | safe}};
	
	console.log(data);
	
	if(data.status != 'Unmanaged') {
		
		var d = new Date(data.updated * 1000);
		jQuery('#updated').html(d.toString());
		
		jQuery('#status').val(data.status);
		
		// Update UI to reflect allowed fields
		statusChange();
		
		// Set other fields
		jQuery('#opp_number').val(data.opp_number);
		jQuery('#dq_reason').val(data.dq_reason);		
		jQuery('#dsr').val(data.dsr);
		jQuery('#presales').val(data.presales);
		jQuery('#notes').val(data.notes);
	}
	
	// Setup off button blur
	jQuery('input, select').focus(save_reset);
	
</script>
